body {
    font-family: sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.tracker {
    width: 200px;
    margin: 50px auto;
}

input {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px 0;
}